@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #6b3f2e;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  background-color: #ffffff;
  width: 90%;
  max-width: 850px;
  height: 500px;
  margin: auto;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Lado esquerdo com imagem */
.left-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fcfbf8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.left-side img {
  width: 100%;
  max-width: 450px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.right-side {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 2.5rem 2rem;
  overflow-y: auto;
  background-color: #ffffff;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
  animation: pulse 1.5s infinite ease-in-out;
}

.form input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: 0.3s;
  font-size: 1rem;
}

.form input:focus {
  border-color: #a67c52;
  outline: none;
  box-shadow: 0 0 0 2px rgba(119, 59, 11, 0.2);
}

.extra-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
}

.extra-options a {
  color: #a67c52;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.extra-options a:hover {
  transform: scale(1.05);
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #a67c52;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .form button:hover {
    background-color: #fff;
    color: #a67c52;
    border-color: #a67c52;
    transform: scale(1.05);
  }

.link-cadastro {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.link-cadastro a {
  color: #a67c52;
  text-decoration: none;
  transition: transform 0.3s ease;
  display: inline-block;
}

.link-cadastro a:hover {
  transform: scale(1.05);
}


