@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body { 
    font-family: Arial, sans-serif; 
    margin: 0px; 
    background-color:antiquewhite;     
}
header { 
    background-color:#6b3f2e; 
    color: white; 
    padding: 30px; 
    text-align: center;    
}
.header{
    margin: 0 auto 1.5rem auto;
    color: #ffffff;
    text-align: center;
    animation: pulse 1.5s infinite ease-in-out;
}

section { 
    margin: 50px; 
    padding: 30px; 
    background-color: white; 
    
     /*border-radius: 5px; */
}
div{
    background-color: #c39b6e;
    height: 50px;    
    text-align: center;
    align-content: center;
}
iframe{
    border: 3px solid #9e5b3f;
    text-align:left;  
    border-radius: 15px; 
}
img{
    max-width: 500px;
    float:right;
    border: 3px solid #9e5b3f;
    border-radius: 10px;
    margin-left: 15px;
}
#titulo{
    font-size: 40px;
    font-family:'Poppins';
}
h1{
    font-size: 65px;
    font-family:'Poppins';
}

.topnav a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 25px;
    background-color: #a67c52;
    margin: 0px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    text-transform:lowercase;
    
}
    .topnav a:hover{
        background-color: #9c7140;
        color: #e7e7e7;
        transform: scale(1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        padding: 15px 30px;
    }

.lista {
    font-family:'Poppins';
}
    .lista li:nth-child(1n + 1){
        text-transform: uppercase;
        font-weight: bold;
    }

.listaB li:nth-child(1n + 1){
    font-weight: lighter;
    text-transform: none;
} 

.video:hover{
    width: 860px;
    height: 470px;
    transform: translate(70px, 0px);
}
