* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6b3f2e;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #a67c52;
}

.nav-buttons {
    display: flex;
    gap: 0.8rem;
}

.btn {
    background-color: #a67c52;
    color: white;
    border: none;
    padding: 0.35rem 1.0rem;
    font-size: 0.9rem;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}


.btn-entrar {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.btn-entrar:hover {
    background-color: #ffffff;
    color: #a67c52;
}

.btn-cadastrar:hover {
    background-color: #795735;
    color: white;
}


